  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    background-image: url(../images/form_images.jpeg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
  }
  
.container{
  background-color: #fff;
  width: 100%;
  max-width: 900px;
  position: relative;
  border-radius: 6px;
  padding: 30px;
  margin: 0 15px;
  box-shadow: 0 5px 10px rgba(0,0,0.1);
}
.container header{
  position: relative;
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
.container header::before{
  content:"";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 3px;
  width: 27px;
  border-radius: 8px;
  background-color: #4070f4;
  border-radius: 8px;
}
.container form{
  position: relative;
  margin-top: 16px;
  min-height: 490px;
  background-color: #f2f2f2;
}
.container form .personal_details{
  margin-top: 30px;

}
.container form .title{
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  margin: 6px 0;
  color: #333;
}
.container form .fields{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
  
  
form .fields .input_fields{
  display: flex;
  flex-direction: column;
  margin: 4px 0;
  width: calc(100% / 3 - 15px);
}
.input_fields label{
  font-size: 12px;
  font-weight:500;
  color: #2e2e2e;
}
.input_fields input{
  height: 42px;
  margin: 8px 0;
  outline: none;
  border: 1px solid #aaa;
  padding: 0 15px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;

}
.container form .nextbtn{
display: flex;
align-items: center;
justify-content: center;
height: 45px;
width: 150px;
margin: 25px 0;
background-color: #4070f4;
transition: all 0.3s;
cursor: pointer;
}
form button:hover{
  background-color: #265df2;
}
.container form .btn_text{
  color: #aaa;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: bold;
}